*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
html {
	--gameboard-background-color: #ccc;
	--cell-background-color: #aaa;
	--tile-color: 200;
	--score-container-color: rgb(218, 216, 216);
	--score-color: black;
	--theme_btn-color: azure;
	--theme_btn-background-color: purple;
}

body {
	background-color: #333;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 7.5vmin;
}

.container {
	display: flex;
	flex-direction: column;
	position: relative;
}

#game-board {
	--grid-size: 4;
	--cell-size: 20vmin;
	--cell-gap: 2vmin;
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	background-color: var(--gameboard-background-color);
	gap: var(--cell-gap);
	border-radius: 0 0 1vmin 1vmin;
	padding: var(--cell-gap);
	position: relative;
}

.cell {
	background-color: var(--cell-background-color);
	border-radius: 1vmin;
}

.tile {
	--x: 0;
	--y: 1;
	--background-lightness: 80%;
	--text-lightness: 20%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	width: var(--cell-size);
	height: var(--cell-size);
	border-radius: 1vmin;
	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	font-weight: bold;
	background-color: hsl(var(--tile-color), 50%, var(--background-lightness));
	color: hsl(var(--tile-color), 50%, var(--text-lightness));
	animation: show 200ms ease-in-out;
	transition: 100ms ease-in-out;
}

@keyframes show {
	0% {
		opacity: 0.5;
		transform: scale(0);
	}
}
/* theme */
.theme__btn {
	position: absolute;
	top: 2%;
	right: 10%;
	cursor: pointer;
	color: var(--theme_btn-color);
	background-color: var(--theme_btn-background-color);
	padding: 0.4rem;
	outline: none;
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
}

/* score */

.score__container {
	color: var(--score-color);
	display: flex;
	padding: 0.2rem;
	background-color: var(--score-container-color);
	padding-left: 5rem;
	border-radius: 10px 10px 0 0;
}

/* win card style */

.win,
.lose {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 80%;
	background: rgb(98, 99, 42);
	background: radial-gradient(
		circle,
		rgba(98, 99, 42, 1) 0%,
		rgba(74, 26, 122, 1) 82%,
		rgba(63, 4, 131, 1) 100%
	);
	border-radius: 10px;
	padding: 1rem;
	font-size: 2rem;
	align-items: center;
	color: azure;
}

h1 {
	margin: 0;
}
h3 {
	margin: 0;
}

#reset {
	background-color: purple;
	color: azure;
	font-size: 2.5rem;
	padding: 0.6rem;
	width: 40%;
	border: none;
	box-shadow: 4px 5px 7px 10px rgba(88, 28, 148, 0.3);
	transition: background-color 0.2s linear;
	cursor: pointer;
	margin-top: 1.5rem;
}

#reset:hover {
	background-color: rgb(148, 5, 148);
}

@media screen and (max-width: 650px) {
	.score__container {
		padding: 0.6rem;
	}
	.theme__btn {
		font-size: 0.8rem;
	}
}
